
header
  background-color: #000
  color: #fff
  height: 50px

h1
  float: left
  line-height: 46px
  margin: 0 auto

#main-nav
  float: right

  li
    display: inline
    font-weight: 300
    letter-spacing: 3px
    padding: 16px 3vw 16px
    text-transform: uppercase

    &:hover
      background-color: #fff

      a
        color: #000

  a 
    color: #fff
    text-decoration: none