
body
  font-family: 'Lato', sans-serif
  margin: 0 auto

.container
  clear: both
  margin: 0 auto
  max-width: 1001px
  width: 90%

#product-output
  display: flex

  img 
    width: 100%
  
  div
    margin: 5vh 6% 0
    width: 30%

    &:first-child
      margin-left: 0
    
    &:last-child
      margin-right: 0