body {
  font-family: 'Lato', sans-serif
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

#product-output {
  display: flex;
  div {
    margin: 5vh 6% 0;
    width: 30%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}